version: "3.8"

services:

  docker-dind:
    image: docker:dind
    container_name: docker-dind
    privileged: true
    restart: unless-stopped
    networks:
      dashboard:
        aliases:
          - docker
    environment:
      DOCKER_TLS_CERTDIR: /certs
    volumes:
      - jenkins-docker-certs:/certs/client
      - jenkins-data:/var/jenkins_home
    ports:
      - "2376:2376"
    command: --storage-driver overlay2

  jenkins:
    image: ntthuan0106job/jenkins:v1
    build:
      context: ./jenkins
      dockerfile: Dockerfile
    container_name: jenkins
    restart: on-failure
    
    networks:
      - dashboard
    environment:
      DOCKER_HOST: tcp://docker:2376
      DOCKER_CERT_PATH: /certs/client
      DOCKER_TLS_VERIFY: "1"
      CASC_JENKINS_CONFIG: /var/jenkins_home/casc_configs
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ./jenkins/master:/var/jenkins_home/casc_configs
      - jenkins-data:/var/jenkins_home
      - jenkins-docker-certs:/certs/client
    depends_on:
      - docker-dind

  ngrok-jenkins:
    image: ngrok/ngrok:3.35.0-alpine
    container_name: ngrok-jenkins
    restart: unless-stopped
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    volumes:
      - ./ngrok/jenkins/ngrok.yml:/etc/ngrok.yml
    ports:
      - 4040:4040
    networks:
      - dashboard
    depends_on:
      - jenkins
  
  sonarqube:
    image: sonarqube:26.1.0.118079-community
    container_name: sonarqube
    depends_on:
      - db
    ports:
      - "9000:9000"
    restart: unless-stopped
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://db:5432/sonarqube
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - dashboard
  
  db:
    image: postgres:15
    container_name: sonarqube_db
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonarqube
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - dashboard

networks:
  dashboard:
    driver: bridge

volumes:
  # Sonarqube volumes
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  # Postgresql volumes
  postgresql:
  postgresql_data:
  # Jenkins volumes
  jenkins-docker-certs:
  jenkins-data:
